           
            <table class="table table-bordered" id="tab" width="100%" cellspacing="0" >

              <thead>
                <tr>
                  
                  <th>Organization</th>
                  <th>System Name</th>
                  <th>Department</th>
                  <th>HDD Space</th>
                  <th>RAM Size</th>
                  <th>Windows</th>
                  <th>softwares</th>
                  <th>Health Status</th>
                  <th>Power Status</th>
                  <th>Issues</th>
                  <th>Ongoing Issues</th>
                  <th>Action</th>
                </tr>
              </thead>
              
              <tbody>
                    {% include 'dashboard/tablebody.html' %}
              </tbody>
            </table>
           