<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Client Dashboard Chart</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <link href="{% static 'effects/styles.css' %}" rel="stylesheet" />

        <link href="{% static '/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" crossorigin="anonymous" />


        <script src="{% static 'js/all.min.js' %}" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}" type="text/css" media="all" />

        <script crossorigin="anonymous" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/moment-with-locales.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>                

        <script type="text/javascript" src="{% static 'js/demo.js' %}"></script>

        <script crossorigin="anonymous"  src="{% static 'js/popper.min.js' %}"></script>

    </head>
    <body class="sb-nav-fixed">
        {% block content %}
        <nav class="sb-topnav navbar navbar-expand navbg">
            <!-- start of sidenav -->
            <div id="mySidenav" class="sidenav navbar-dark bg-dark">
                <a href="">
                  <img src="{% static 'effects/image/face1.jpeg' %}"  />
                </a>
                  <hr class="solid">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fas fa-arrow-left"></i></a>
                  <a class="nav-link active" href="{% url 'systemhealth' %}"
                                ><i class="fas fa-tachometer-alt"></i>
                                Dashboard</a>

                             <a class="nav-link active" href="{% url 'status' %}"
                                ><i class="fas fa-chart-area"></i>
                                Status</a>   
                           
                            <a class="nav-link active" href="#t1" id="h1"><i class="fas fa-desktop"></i>
                                System Information</a>


                            <a class="nav-link active" href="#systemreqModal" data-toggle="modal" data-target="#systemreqModal"
                                ><i class="fas fa-pen"></i>
                                New System</a>

                             <a class="nav-link active" href="#importfileModal" data-toggle="modal" data-target="#importfileModal"
                                ><i class="fas fa-file"></i>
                                Import File</a>

</div>
<span style="font-size:25px;cursor:pointer; color: white; margin-left: 20px;" onclick="openNav()">&#9776;&nbsp;Dashboard</span>
<!-- end of sidenav -->

            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
              <div class="nav-item dropdown" data-toggle="tooltip" data-placement="right" >
              <a class="nav-link" href="" style="color: white;"data-toggle="dropdown" data-target="">
                <span class="nav-link-text">{{request.user.username}}</span></a>
                <ul class="dropdown-menu" >
                      <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile&nbsp;&nbsp;<i class="fas fa-user-circle"></i></a></li>
                      <div class="dropdown-divider" style="border-color:grey;"></div>
                      <li><a class="dropdown-item" href="#exampleModal" data-toggle="modal" data-target="#exampleModal">Log Out&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i></a></li>
                </ul>
            </div>


             <div class="nav-item ">
              <a class="nav-link" href="#exampleModal" data-toggle="modal" data-target="#exampleModal" style="color: white;"><i class="fas fa-user"></i>&nbsp;Logout</a>
                
            </div>

            
        </nav>
        
            <div id="main">
                <main style="margin-top: 60px;">
                    <div class="container-fluid">
                        
                        <ol class="breadcrumb mb-4" style="margin-top: 20px;">
                         <select class="custom-select" id="dptselect" name="department">
                                <option selected> Choose Department</option>
                                <option value="Department1">Department1</option>
                                <option value="Department2">Department2</option>
                       
                         </select>
                        </ol>
                        <!-- <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body">Users &nbsp;&nbsp;&nbsp;{{systemmodel}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body">Logged In System &nbsp;&nbsp;&nbsp;</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body">Healthy System &nbsp;&nbsp;&nbsp;{{syshealth}}/{{systotal}}</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-secondary text-white mb-4">
                                    <div class="card-body">Ongoing Issues &nbsp;&nbsp;&nbsp;</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            

                            
                        </div> -->
                        <div class="row">
                            
                            
                             <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-bar mr-1"></i>Health Status</div>   
                                    <div class="card-body" style="width:100%;height:40%"><div id="container"  ></div></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header"><i class="fas fa-chart-pie mr-1"></i>Issues </div>
                                    <div class="card-body" id="container1" width="100%" height="40"></div>
                                </div>
                            </div>
                           


                        </div>
                        <div class="row">
                           
                             <div class="col-xl-6">
                                <div class="card mb-4" id="dp" style="display: none;">
                                    <div class="card-header"><i class="fas fa-chart-pie mr-1"></i>Department Health Status</div>
                                    <div class="card-body" id="pie" width="100%" height="40"></div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="card mb-4" id="dpissues" style="display: none;">
                                    <div class="card-header"><i class="fas fa-chart-pie mr-1"></i>Department Issues Status</div>
                                    <div class="card-body" id="issuedep" width="100%" height="40"></div>
                                </div>
                            </div>
                        </div>
                     <div class="row">
                        <div class="col-sm-4">
                             <div class="card">
                                <div class="card-header"><i class="fas fa-chart-line mr-1"></i>Issues Chart</div>
                                <div class="card-body">
                                  <form action="" id="datechartform">
                                    <div class="form-group">
                                        <!-- <label for="id_end_time">From Date</label> -->
                                        <div class="input-group">
                                            <!-- <input type="text" placeholder="Select Frome Date" class="form-control" name="fromdate" required/>
                                            <div class="input-group-addon input-group-append">
                                                <div class="input-group-text">
                                                    <i class="fas fa-calendar-alt  fa-calendar-alt"></i>
                                                </div>
                                            </div> -->
                                            <div style="width: 400px;">
                                               <select class="custom-select" id="monthselect" name="department">
                                                    <option selected> Choose month</option>
                                                    <option value="1">January</option>
                                                    <option value="2">Febraury</option>
                                                    <option value="3">March</option>
                                                    <option value="4">April</option>
                                                         
                                                </select>
                                            </div>

                                        </div>
                                    </div>       

                                     <div class="form-group">
                                        <!-- <label for="id_end_time">To Date</label> -->
                                        <div class="input-group">
                                            
                                        <div style="width: 400px;">
                                         <select class="custom-select" id="yearselect" name="department">
                                             <option selected> Choose year</option>
                                             <option value="2019">2019</option>
                                             <option value="2020">2020</option>
                                                   
                                          </select>
                                      </div>
                                        </div>
                                    </div>  
                                        <div><button id="btnlinechart" class="btn btn-primary" style="font-size: 20px;">Submit</button></div> 
                                   </form>                          
                                </div>
                             </div>   
                        </div> 
                        <div class="col-sm-8">
                        
                             <div class="card" id="linechartcard" style="display: none;">
                                <div class="card-header"><i class="fas fa-chart-line mr-1"></i>Monthwise Daily Issues</div>
                                <div class="card-body">
                                
                                <div id="linechartid1"></div>
                                </div>
                             </div>        
                    </div>
                     </div>      
        
  

                </main>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted"></div>
                            <div>
                                <a href="#"></a>
                                
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                </footer>
               
    

    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" style="font-size: 40px;color: white;" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Are you sure to logout from this site ?</div>
          <div class="modal-footer">
            
            <a class="btn btn-primary" href="{% url 'loginform' %}">Logout</a>
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

<!-- Import File -->         
    <div class="modal fade" id="importfileModal" tabindex="-1" role="dialog" aria-labelledby="importfileModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="importfileModalLabel">Choose File to Import</h5>
            <button class="close" type="button" style="font-size: 40px;color: white;" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
              

              <div>
              {{order}}
              <form method="post" enctype="multipart/form-data"  action="requirementfile_upload/">
              {% csrf_token %}
              <div style="margin-top: 30px;px;" align="center">
              <label style="font-family: Palatino Linotype;">Upload a System Requirement file</label><br>
                <input type="file" name="file" class="form-control inpstyle">
                <p>Only acepts CSV files</p>
                <button class="btn btn-info" type="submit">Upload File</button>
                </div>
              </form>
            </div>

          </div>
         
        </div>
      </div>
    </div>

<!-- systemrequirement model -->
    <div class="modal fade" id="systemreqModal" tabindex="-1" role="dialog" aria-labelledby="systemreqModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="modal-title" id="systemreqModalLabel">System Requirements</div>
            <button class="close" style="font-size: 40px;color: white;" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" >×</span>
            </button>
          </div>
          <form action="" id="addsystemreq" >
            {% csrf_token %}
          <div class="modal-body">
                    <div class="form-group">
                        <select class="form-control inpstyle" id="reqpname" name="reqpname" autofocus="on">
                      <option >Choose Organization</option>
                      {% if organizationobj %}
                        {% for organizationobjs in organizationobj %}
                        
                        <option value="{{organizationobjs.organizationname}}">{{organizationobjs.organizationname}}</option>
                        
                         {% endfor %}
                       {% endif %}
                      </select>

                    </div>

                    <div class="form-group">
                        <input type="text" name="pname" placeholder="Enter person name who need system" class="form-control inpstyle" autocomplete="off">
                    </div>

             

                    <div class="form-group">
                     <select class="custom-select inpstyle" id="hddselect" name="disktype">
                        <option >Choose disk type</option>
                        <option value="Standard HDD"> Standard HDD</option>
                        <option value="Standard HDD">Standard SSD</option>
                       
                      </select>
                      
                    </div>
                    <div class="row">
                    <div class="col-sm-6">
                    <div class="form-group">
                        <select class="custom-select inpstyle" id="diskselect" name="disksize">
                       <option >Choose disk size</option>
                         <option value="1 GB">1 GB</option>
                           <option value="2 GB">2 GB</option>
                           <option value="4 GB">4 GB</option> 
                           <option value="8 GB">8 GB</option> 
                           <option value="16 GB">16 GB</option> 
                           <option value="32 GB">32 GB</option>
                            <option value="64 GB">64 GB</option>
                            <option value="1 TB">1 TB</option>
                            <option value="2 TB">2 TB</option>
                            <option value="4 TB">4 TB</option>
                            <option value="8 TB">8 TB</option>
                            <option value="16 TB">16 TB</option>
                            <option value="32 TB">32 TB</option>



                      </select>
                    </div>
                    </div>    
                    <div class="col-sm-6">
                    <div class="form-group">
                    <input type="number" name="ndisk" class="form-control inpstyle" placeholder="No. of disk ">
                    </div>
                    </div>
                    </div>

                    <div class="form-group">
                        <select class="custom-select inpstyle" id="coreselect" name="cpucore">
                            <option >Choose CPU Core</option>
                            <option value="1 Core">1 Core</option>
                            <option value="2 Cores">2 Cores</option>
                            <option value="4 Cores">4 Cores</option>
                            <option value="6 Cores">6 Cores</option>
                            <option value="8 Cores">8 Cores</option>
                            <option value="16 Cores">16 Cores</option>
                          </select>

                    </div>

                     <div class="form-group">
                                            <select class="custom-select inpstyle" id="ramselect" name="ramsize">
                           <option >Choose RAM size</option>
                           
                           <option value="1 GB">1 GB</option>
                           <option value="2 GB">2 GB</option>
                           <option value="4 GB">4 GB</option> 
                           <option value="8 GB">8 GB</option> 
                           <option value="16 GB">16 GB</option> 
                           <option value="32 GB">32 GB</option>
                            <option value="64 GB">64 GB</option>
                            <option value="1 TB">1 TB</option>
                            <option value="2 TB">2 TB</option>
                            <option value="4 TB">4 TB</option>
                            <option value="8 TB">8 TB</option>
                            <option value="16 TB">16 TB</option>
                            <option value="32 TB">32 TB</option>


                          </select>

                    </div>

                     <div class="form-group">
                     <input type="text" name="nmonitors" class="form-control inpstyle" placeholder="No.of monitors">
                    </div>

                    
          </div>
          <div class="modal-footer " >
            
            <button class="btn btn-primary " style="width: 200px;" type="submit">Send</button>
            
          </div>
          </form>
        </div>
      </div>
    </div>


</div>
 </div>
        {% endblock  %}   
        <script src="{% static 'js/jquery-3.4.1.min.js' %}" crossorigin="anonymous"></script>
         <script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>

        <script src="{% static 'js/Chart.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'demo/chart-bar-demo.js' %}"></script>
        <script src="{% static 'demo/chart-pie-demo.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'js/dataTables.bootstrap4.min.js' %}" crossorigin="anonymous"></script>
        <script src="{% static 'demo/datatables-demo.js' %}"></script>

        <script src="{% static 'js/highcharts.js' %}"></script>
        <script src="{% static 'js/highcharts-3d.js' %}"></script>

        

{% block javascript %}

<script>
{% block jquery %}
  

    $("#addsystemreq").submit(function(){

         alert("hi");
              
               var element=document.getElementById("reqpname");
               var reqpname=element.options[element.selectedIndex].value;

              var pname=$('input[name="pname"]').val().trim();
              
              var element=document.getElementById("hddselect");
              var disktype=element.options[element.selectedIndex].value;
              
              var element=document.getElementById("diskselect");
              var disksize=element.options[element.selectedIndex].value;
              
              var ndisk=$('input[name="ndisk"]').val();
              
              var element=document.getElementById("coreselect");
              var cpucore=element.options[element.selectedIndex].value;

              var element=document.getElementById("ramselect");
              var ramsize=element.options[element.selectedIndex].value;

              var nmonitors=$('input[name="nmonitors"]').val().trim();



            if(pname=="" || reqpname=="Choose Organization" || disktype=="Choose disk type" || disksize=="Choose disk size" || ndisk=="" || cpucore=="Choose CPU Core" ||  ramsize=="Choose RAM size")
              {

                alert("Please Enter missing fields");
                $('#systemreqModal').modal('show');
                
              }

              else
              {
                  

                   $.ajax({
                            url:'{% url "systemreqinsert" %}',
                            
                          
                          data:{
                                  
                                  'reqpname':reqpname,
                                  'pname':pname,
                                  'hddtype':disktype,
                                  'disksize':disksize,
                                  'ndisk':ndisk,
                                  'cpucore':cpucore,
                                  'ramsize':ramsize,
                                  'nmonitors':nmonitors,
                                  
                          },
                          dataType:'json',
                          success:function()
                          {
                            alert('System Information added Successfully');

                            
                          }


                        });

                  
              }
              
      $('form#addsystemreq').trigger("reset");
      $('#systemreqModal').modal('hide');
      return false;
    });

//scroll dowm  to table
$(document).ready(function(){
  
  $("#h1").on('click', function(event) {
 
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
        window.location.hash = hash;
      });
    } 
  });
});

//Search option
$(document).ready(function () {
$('#tab').DataTable({
"searching": false // false to disable search (or any other option)
});
$('.dataTables_length').addClass('bs-select');
});



/*Department wise Chart*/
$(document).ready(function(){
    $('#dptselect').on('change',function(){
         var element=document.getElementById("dptselect");
         var department=element.options[element.selectedIndex].value;

        alert(department);
        $('#dp').show();
        $('#dpissues').show();
        var endpoint='/api/chart/data/department/'
        /*var defaultdata1=[]
        var labels1= [];*/
        

        $.ajax({

          method:"GET",
          url:endpoint,
          data:{'department':department},
          success:function(data){
            labels1=data.labels
            defaultdata1=data.default
            depname=data.sysdepartment

            deplabels=data.deplabels
            depissues=data.depissues
            depsetchart()
            depissuesetchart()
          },
          error:function(error_data){

            console.log("error")
            console.log(error_data)
          }


        });


    });
});


function depsetchart()
{
    var x=new Array(4);
    var xu=new Array(4);
    for(var i=0;i<x.length;i++){
     xu[i]=labels1[i];
     x[i]=[labels1[i],defaultdata1[i]];}
     console.log(x)
     console.log(xu)

    Highcharts.chart('pie', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
     credits: {
    enabled: false
        },
    title: {
        text:depname+"    "+'-'+" "+'Health Status'
    },
   
    plotOptions: {
        pie: {
            innerSize: 50,
            depth: 65,
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '{point.name} ({point.percentage:.1f}%)',
                connectorWidth: 2,
            }
        }
    },
    colors:['#3b5998', '#d34836', '#8a3ab9', '#0077B5', '#0084b4', '#bb0000'],
    series: [{
        name: 'Status',
        data: x,
    }],
    tooltip:{
        useHTML: true,  
         headerFormat: '<h6>{point.key}</h6>',
         pointFormat: '<h6>{point.percentage:.1f} {series.name} </h6>',
    }
});
}

/*start of department wise issue chart*/
function depissuesetchart()
{

var x1=new Array(4);
var xu1=new Array(4);
for(var i=0;i<x1.length;i++){
 xu1[i]=deplabels[i];
 x1[i]=[deplabels[i],depissues[i]];}
 console.log(x1)
 console.log(xu1)

    Highcharts.chart('issuedep', {
  chart: {
    type: 'pie',
    options3d: {
      enabled: true,
      alpha: 45
    }
  },
  title: {
    text:depname+"    "+'-'+" "+'Issues Status'
  },
  credits: {
    enabled: false
        },
  plotOptions: {
    pie: {
      innerSize: 100,
      depth: 45
    }
  },
  colors:['#82E0AA  ', '#F7DC6F  ', '#D2B4DE ', '#23C2CC ', '#0084b4', '#bb0000'],
  series: [{
    name: 'Status',
    data: x1
  }]
});
}
 /*end of department wise issue chart*/

/*end of department wise chart*/


/*chart for issues*/
var endpoint='/api/chart/data/issue/'
var defaultdata=[]
var labels= [];
$.ajax({

  method:"GET",
  url:endpoint,
  success:function(data){
    labelss=data.labels
    defaultdatas=data.default

    issuesetchart()
  },
  error:function(error_data){

    console.log("error")
    console.log(error_data)
  }


});

function issuesetchart()
{

var x=new Array(4);
var xu=new Array(4);
for(var i=0;i<x.length;i++){
 xu[i]=labelss[i];
 x[i]=[labelss[i],defaultdatas[i]];}
 console.log(x)
 console.log(xu)

    Highcharts.chart('container1', {
  chart: {
    type: 'pie',
    options3d: {
      enabled: true,
      alpha: 45
    }
  },
  title: {
    text: 'Issues Status'
  },
  credits: {
    enabled: false
        },
  plotOptions: {
    pie: {
      innerSize: 100,
      depth: 45
    }
  },
  colors:['#D5F5E3', '#7FB3D5 ', '#F08080', '#2874A6', '#0084b4', '#bb0000'],
  series: [{
    name: 'Status',
    data: x
  }]
});
}
 /*end of issue chart*/



/*Highcharts sample*/
var endpoint='/api/chart/data/sample/'
var defaultdata1=[]
var labels1= [];
$.ajax({

  method:"GET",
  url:endpoint,
  success:function(data){
    labels1=data.labels1
    defaultdata1=data.default1
    
    healthstatus3d()
  },
  error:function(error_data){

    console.log("error")
    console.log(error_data)
  }


});



function healthstatus3d(){
var x=new Array(4);
var xu=new Array(4);
for(var i=0;i<x.length;i++){
 xu[i]=labels1[i];
 x[i]=[labels1[i],defaultdata1[i]];}
 console.log(x)
 console.log(xu)


    Highcharts.chart('container', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45,
            beta: 0
        }
    },

    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    title: {
        text: 'Health Status'
    },
    credits: {
    enabled: false
        },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            depth: 35,
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }
    },
    series: [{
        type: 'pie',
        name: 'Status',
        data: x,
    }]
});
}

/*end of health chart*/



/* start of line chart*/

 /*$("#btnchart").click(function(e){
        
        e.preventDefault();
        var fromdate=$('input[name="fromdate"]').val()
        var todate=$('input[name="todate"]').val()

        if( Date.parse(fromdate) > Date.parse(todate))
        {
            alert("From Date should be greater than To Date")
        }    
        
        else
        {
                   
        var endpoint='/api/chart/data/'

       
        $.ajax({

          method:"GET",
          url:endpoint,
          data:{

                    'fromdate':fromdate,
                    'todate':todate,


                },

          success:function(data){

            labels1=data.labels
            
            issue_array1=data.issue_array1
            issue_array2=data.issue_array2
            issue_array3=data.issue_array3
            issue_array4=data.issue_array4
            console.log('------------------------------')
            console.log(issue_array1)
            linechart()
          },
          error:function(error_data){

            console.log("error")
            console.log(error_data)
          }


        });
    }

    });
function linechart()
{

    $('#linechartcard').show();  
    var xu=new Array(4);
    var months=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12','13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24','25','26','27','28','29','30','31']
    var data1=issue_array1

    var data2=issue_array2
    var data3=issue_array3
    var data4=issue_array4

    var lab=labels1
    for(var i=0;i<xu.length;i++){
     xu[i]=lab[i];alert(xu[i])}
    

Highcharts.chart('linechartid', {
    chart: {
        type: 'line',
       
       
    },
    title: {
        text: 'Daily Issues'
    },
    
    credits: {
    enabled: false
        },
    xAxis: {
        categories: months,
      

    },
    yAxis: {
        title: {
            text: 'Values'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: xu[0],
        data: data1
    }, {
        name: xu[1],
        data: data2
    }, {
        name: xu[2],
        data:data3

    }, {
        name: xu[3],
        data: data4
    }]
});
}
*/
/*end of line chart for month wise*/

//sidenav 
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}


function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}

 
 $("#btnlinechart").click(function(e){
        
        e.preventDefault();
         var element=document.getElementById("monthselect");
               var monthdate=element.options[element.selectedIndex].value;

              var element=document.getElementById("yearselect");
               var yeardate=element.options[element.selectedIndex].value;
               
                   
        var endpoint='/api/monthyear/data/'

  if(monthdate=='Choose month' || yeardate=='Choose year')
  {
    alert('Choose Month and Year');
  }
  else
  {
        $.ajax({

          method:"GET",
          url:endpoint,
          data:{

                    'monthdate':monthdate,
                    'yeardate':yeardate,


                },

          success:function(data){

            labels4=data.labels
            
            issue_array11=data.issue_array1
            issue_array12=data.issue_array2
            issue_array13=data.issue_array3
            issue_array14=data.issue_array4
            m_name=data.m_name
            console.log('------------------------------')
            console.log(issue_array11)
            linechart2()
          },
          error:function(error_data){

            console.log("error")
            console.log(error_data)
          }


        });
      } 

    });


 function linechart2()
{

    $('#linechartcard').show();  
    var xx=new Array(4);
    var months=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12','13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24','25','26','27','28','29','30','31']
    var data11=issue_array11

    var data12=issue_array12
    var data13=issue_array13
    var data14=issue_array14

    var lab1=labels4
    for(var i=0;i<xx.length;i++){
     xx[i]=lab1[i];alert(xx[i])}
    

Highcharts.chart('linechartid1', {
    chart: {
        type: 'line',
       
       
    },
    title: {
        text: m_name+" "+'Month'+" "+'Issues Chart'
    },
    
    credits: {
    enabled: false
        },
    xAxis: {
        categories: months,
      

    },
    yAxis: {
        title: {
            text: 'Values'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
    series: [{
        name: xx[0],
        data: data11
    }, {
        name: xx[1],
        data: data12
    }, {
        name: xx[2],
        data:data13

    }, {
        name: xx[3],
        data: data14
    }]
});
}
{% endblock jquery %}
</script>
{% endblock javascript %}
               

     
    </body>
</html>
